.wrapper {
	width: 960px;
	}

/* iPhone [portrait + landscape] */
@media only screen and (max-device-width: 480px) {
h1 {
	font-size:1.5em;
	margin:50px 0px 50px 0px;
	}

.header, h2, .footer, .col h3, p {
	font-size:3em;
	}

.navigation a{
	font-size:3em;
	}


.subNav li{
	display:inline-block;
	padding:5px 5px 5px 5px;
	border-bottom:none;
	}

.subNav a{
	border-bottom:none;
	font-size:3em;
	}

.fluidHeight {
	display:none;
	width:800px;

}

}


/* iPad [portrait + landscape] */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

}


/* Small Desktop [portrait + landscape] */
@media only screen and (min-width: 1025px) and (max-width: 1280px){

.wrapper {
	width: 960px;
	}

}


/* Desktop [portrait + landscape] */
@media only screen and (min-width: 1281px) {

.wrapper {
	width: 1180px;
	}

}