
// .text
// 	font-family "Junicode","Arial unicode MS","times new roman",serif

// annotationFormat()
// 	display block
// 	float left
// 	font-size 11px
// 	color #777
// 	font-family bodyFont
// 	width 140px
// 	line-height 16px
// 	font-style normal
// 	border-top 2px solid #00B3B0
// 	padding-top 6px



// .linenr
// 	font-family "Courier New", "Lucida Console"
// 	margin-right 1em

/* nog onbekend wat dit moet worden */
// span.rubric
// 	display inline
// 	color red

// .mentioned
// 	font-style italic


// .footnote
// 		display block
// 		float right
// 		width 45%
// 		position relative
// 		left -2em
// 		color grey

// .grey
// 		color grey

// .green
// 		color green
// 		padding-top 0
// 		background-color transparent

// .italic
// 	font-style italic

// .underline
// 	text-decoration underline

// .bold
// 	font-weight bold

// .border
// 	border thin solid green

/* is the expansion of an abbreviation should be toggle?
 */


/* Copied some code from Peter Boot (Freckenhorst project) */

// .nextprev
// 	float right


// span.versenum
// 	left -35px
// 	color purple

// span.margin
// 	display none
// 	width 100px
// 	position absolute
// 	left 385px


// TODO where are these used?
// .woordverklaring .wvk
// 	display inline
// 	annotationFormat()


// .marginalia .margin
// 	display block
// 	annotationFormat()


// .commentaar .comment
// 	display inline
// 	annotationFormat()


// .inleiding .intro
// 	display inline
// 	annotationFormat()
// \TODO




// linegroup_start, linegroup_end
// 	display block
// 	padding .5em


// linegroup_start + linegroup_end
// 	padding 0
 // don't double up on padding

// linegroup_start + br, linegroup_end + br
// 	display none


// .textnum + linegroup_start
// 	padding 0

