inline-block()
	display inline-block
	box-sizing border-box
	vertical-align top

no-select()
	-webkit-touch-callout none
	-webkit-user-select none
	-khtml-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none

formatAsAnnotation()
	background-color white
	border-bottom 1px dotted #00B3B0
	border-top 2px solid #00B3B0
	color #777
	display block
	float left
	font-family sans-serif
	font-size 11px
	font-style normal
	line-height 16px
	opacity .9
	padding-top 6px
	width 140px
	z-index 1

	span
		position static
		display inline
		float none
		border none

	&:hover
		z-index 2
		color #333
		opacity 1
		background-color lighten(#00B3B0, 50%)

mainCenter()
	margin 0 auto
	max-width 1280px
	position relative
	width 90%
