header
	mainCenter()
	margin 0 64px
	position relative

	h1, .navigation, img
		inline-block()

	h1
		text-align left
		width 400px

		a#title-tag
			color #b325a0
			display block
			font-family Samba, sans-serif
			font-size 1.1em
			font-weight 400

		span#signature-tag
			color #999
			display block
			font-size 11px
			text-align right

	.navigation
		width calc(100% - 400px - 101px)
		text-align center

		li
			display inline
			list-style none

			a
				display inline-block
				text-decoration none
				color #333
				padding 22px 3px 20px 3px
				font-size 12px

				&:hover
					background-color #eee

	img
		position absolute
		right 0
		width 101px
