@import './variables'
@import './functions'
@import './header'
@import './text'
@import './mvn-reeks'
@import './browser'
@import './search'

#container #text .text.nummering,
#container .right.text.nummering
	&.vers
		.versenum
			visibility visible

	&.regel .linenum
		visibility visible

.text,
#container * .text *
	font-family "Junicode", "Arial unicode MS", "times new roman", serif
	font-size 16px
	line-height 26px

#container .text a
	text-decoration none
	color #777
	cursor default

// =========== Interface

#container *	// overriding Wordpress theme
	font-size 12px

body
	font-family bodyFont
	font-size 12px
	padding 0
	margin 0

a
	text-decoration none
	color defaultGray

.center
	width mainWidth
	margin 0 auto

.no-select
	no-select()

#container
	margin-top 20px

#spinner
	align-items center
	display none
	justify-items center
	left 0
	position absolute

#navigation ul, #views ul,	#view-options ul
	list-style none
	padding 0
	overflow auto

#navigation
	margin-top 15px
	position relative

	ul
		display inline-block
		margin-left 45px
		margin-top 8px
		margin 8px 0 10px 45px
		line-height 45px
		li
			float left
			margin-right 15px
			&:last-child
				margin-right 0

	a
		text-decoration none
		color textColor

		&.active
			font-weight bold

	#logo
		position absolute
		right 0
		top 0

#tabs ul
	margin 0

	li
		float left
		background viewMenuColor
		color defaultGray
		height 30px
		line-height 30px
		padding 0 10px
		margin 8px 1px 0 0
		cursor pointer
		font-size 11px
		no-select()

		&.active
			background-color viewMenuActiveColor
			background-image url('../static/img/slant.png')
			background-repeat no-repeat
			background-size 100% auto
			margin-top 0
			padding-top 8px
			color viewOptionsActiveColor

		&.folio-browser.active, &.text-browser.active
			background-color black
			color white

#view-options,
#export-options
	display none
	background viewMenuActiveColor
	color defaultGray
	line-height 33px
	height 33px
	margin-bottom 30px

	.center
		height 33px
		background viewMenuActiveColor

	ul
		float right
		margin 5px 0
		padding 0
		li
			float left
			margin-right 30px
			padding 0 6px
			font-size 11px
			line-height 23px
			cursor pointer
			no-select()
			&:last-child
				margin-right 0

			.oplossen + .cursief
				display none

			.oplossen.active + .cursief
				display inline

			span.nummering + .opties
				display none

			span.nummering.active + .opties
				display inline

			&.active, span.active
				display inline-block
				background-color viewOptionsActiveBackground
				border-radius viewOptionsActiveRadius
				color viewOptionsActiveColor
				padding 0 6px
				font-weight 700

				&.cursief, &.vers, &.regel
					font-style italic
					font-weight normal
					text-decoration underline
					padding 0
					background-color transparent

#export-options
	ul
		float left

#folium, #sidebar, #text
	display inline
	float left
	position relative

#folium
	width folioWidth
	margin-right foliumMargin
	img	width folioWidth height auto

#sidebar
	width sidebarWidth
	margin-left 20px

	.line
		margin-top 35px
		border-top 1px solid viewMenuActiveColor

	.belongs-to
		width 120px
		color defaultGray
		margin-bottom 65px

	.annotations
		span.noteright
			// position absolute
			formatAsAnnotation()

#text
	width mainWidth - folioWidth - foliumMargin - sidebarWidth - 20px + 20%
	.nav
		line-height 35px
		height 35px
		border-bottom 1px solid viewMenuActiveColor
		margin-bottom 20px
		text-align center

		.previous
			float left

		.next
			float right

		.next, .previous
			color bodyNavColor
			cursor pointer
			text-decoration none
			no-select()

		.folium
			font-weight 500
			font-size 18px

#main
	mainCenter()

	a
		color bodyNavColor

#text-view
	// width textViewWidth
	// margin auto

	.heading
		padding-left 200px // left margin
		text-align center
		width 400px

		span.tekst
			font-size 20px
			font-weight 500

		.previous
			float left

		.next
			float right

	.folium
		border-top 1px solid viewMenuColor
		margin-bottom 34px
		padding-top 20px
		position relative

		.left
			float left
			font-size 11px

			h5
				color defaultGray
				font-weight normal
				font-size 11px
				padding 0
				margin 0 0 20px

			img
				width 70px
				height auto
				margin-bottom 7px
				display block

			.select-folium
				display inline-block
				color bodyNavColor
				no-select()

		.right
			margin-left 200px
			font-size 18px
			text-align left
			width 400px

	.noteright
		left 500px

#container .folium .text,
#text .text,
.right.text
	span.rubric
		display inline
		color red
	
	span.rubricated
		font-weight bold

	.mentioned
		font-style italic
		font-size 13px
		line-height 16px

	.footnote
			display block
			float right
			width 45%
			position relative
			left -2em
			color grey

	.grey
			color grey

	.green
			color rreen

	.italic
		font-style italic

	.underline
		text-decoration underline

	.bold
		font-weight bold

	span.del
		text-decoration line-through
		color blue

	p > span:not([class])
		formatAsAnnotation()

	span.del, span.add
		& > span.noteright
			formatAsAnnotation()

	span.noteright
		position absolute
		left 440px
		formatAsAnnotation()

		abbr
			display inline
			font-size 14px

	span.ital
			font-styleitalic

	span.moveleft
		 position relative
			left50px

	span.restore
			borderthin solid purple

	span.romannumber
		font-variant small-caps

	span.noteleft
		border-radius 10px
		font-size 16px
		left -20px
		line-height 10px
		margin-top 6px
		padding 2px
		position absolute

	span.folionr
			position absolute
			left 300px

	span.margin
		width 100px
		position absolute
		left -120px

	span.transl
		display none
		position absolute
		left 450px

	span.wvk
		display none
		position absolute
		left 450px

	span.comment
		display none
		position absolute
		left 450px

	span.intro
		display none
		position absolute
		left 450px

	span.annotwg
		display none
		position absolute
		left 450px

	span.annotvm
		display none
		position absolute
		left 450px

	span.annotvdg
		display none
		position absolute
		left 450px

	span.annotbd
		display none
		position absolute
		left 450px

	span.hide
		display none

	.versenum,
	.linenum
		display block
		visibility hidden
		font-family sans-serif
		font-size 10px
		color defaultGray
		margin-left lineVerseNumPos
		float left

	.textnum
		float right
		color bodyNavColor
		cursor pointer

.folium .right.text
	position relative

.folium span
    font-size 18px

#text .solve,
#text-view .right.text.solve
	&.cursive
		ex
			font-style italic

	choice
		abbr
			display none
			font-style italic

		expan
			display inline

span.spaced
	letter-spacing: 3px

span.ulr
	text-decoration-color: red
	text-decoration: underline

span.nr
	font-size: 18px !important

#folium-view span.fw
	display: block
	text-align: center

#text-view span.fw
	display: none

#text .text span.noteleft span.rubric
	line-height: 10px
