viewMenuColor = #f5f5f5
viewMenuActiveColor = #eeeeee

bodyFont = Helvetica, Arial, sans-serif
textColor = #444

defaultGray = #777777
viewOptionsActiveColor = #525252
viewOptionsActiveBackground = #fafafa
viewOptionsActiveRadius = 4px
bodyNavColor = #d275c6

darkPurple = #b325a0

mainWidth = 960px
lineVerseNumPos = -50px
folioWidth = 385px
textWidth = 480px
textGutterLeft = 64px

annotationWidth = 160px
annotationMargin = 12px

// two annotation columns with margin
annotationColumnWidth = annotationWidth * 2

totalTextWidth = textGutterLeft + textWidth + annotationColumnWidth // gutter|text|annotation column

sidebarWidth = 145px

textViewWidth = 560px

/* Folio Browser */

folioThumbWidth = 70px
folioThumbHeight = 100px

textCommentBorderColor = #00b3b0
