/* Mockup */
@import 'src/css/variables'
@import 'src/css/functions'
@import 'src/css/header'
@import 'src/css/text'

.text,
#container *.text *
	font-family "Junicode", "Arial unicode MS", "times new roman", serif
	font-size 16px
	line-height 26px

#container .text a
	text-decoration none
	color #777
	cursor default

// =========== Interface

#container *	// overriding Wordpress theme
	font-size 12px

body
	font-family bodyFont
	font-size 12px
	padding 0
	margin 0

a
	text-decoration none
	color defaultGray

.center
	width mainWidth
	margin 0 auto

.no-select
	no-select()

#container
	margin-top 20px

#spinner
	position absolute
	left 50%
	margin-left -16px
	top 50%
	margin-top -16px

#navigation ul, #views ul,	#view-options ul
	list-style none
	padding 0
	overflow auto

#navigation
	margin-top 15px
	position relative

	ul
		display inline-block
		margin-left 45px
		margin-top 8px
		margin 8px 0 10px 45px
		line-height 45px
		li
			float left
			margin-right 15px
			&:last-child
				margin-right 0

	a
		text-decoration none
		color textColor

		&.active
			font-weight bold

	#logo
		position absolute
		right 0
		top 0

#tabs ul
	margin 0

	li
		float left
		background viewMenuColor
		color defaultGray
		height 30px
		line-height 30px
		padding 0 10px
		margin 8px 1px 0 0
		cursor pointer
		font-size 11px
		no-select()

		&.active
			background-color viewMenuActiveColor
			background-image url('../img/slant.png')
			background-repeat no-repeat
			background-size 100% auto
			margin-top 0
			padding-top 8px
			color viewOptionsActiveColor

		&.folio-browser.active, &.text-browser.active
			background-color black
			color white

#search-view
	display none // only on load

	.grey
		background viewMenuActiveColor

	.center
		padding 25px 0

	input	// text box
		border 1px solid #DADADA
		height 33px
		line-height 33px
		padding 0 10px
		width 340px

	button	// zoek knop
		cursor pointer
		line-height 33px
		padding 0 20px
		border 0
		border-radius 3px
		background #FBFBFB

		&:hover
			background #f5f5f5

	.syntax-information
		line-height 33px
		vertical-align middle
		margin-left 6px

#search-results
	.spinner
		display none
		line-height 32px
		img
			vertical-align middle
			margin-right 1em

	.number-of-results
		line-height 36px
		font-size 14px
		font-weight 600

	table
		display none
		padding 0
		border-top 1px solid #c1c1c1
		margin-top 10px
		tr
			padding-left 2px
			line-height 36px
			font-size 12px
			border-bottom 1px solid #F0F0F0

			&:hover
				background-color #f0f0f0

			em
				color #008B88
				font-weight bold

			a
				display block
				color textColor
				position relative
				height 36px
				.f	// folium
					position absolute
					display inline-block
					left 9em

				.l	// line
					position absolute
					display inline-block
					left 17em

				.description
					position absolute
					display inline-block
					left 22em


#view-options, #export-options
	display none
	background viewMenuActiveColor
	color defaultGray
	line-height 33px
	height 33px
	margin-bottom 30px

	.center
		height 33px
		background viewMenuActiveColor

	ul
		float right
		margin 5px 0
		padding 0
		li
			float left
			margin-right 30px
			padding 0 6px
			font-size 11px
			line-height 23px
			cursor pointer
			no-select()
			&:last-child
				margin-right 0

			.oplossen + .cursief
				display none

			.oplossen.active + .cursief
				display inline

			span.nummering + .opties
				display none

			span.nummering.active + .opties
				display inline

			&.active, span.active
				display inline-block
				background-color viewOptionsActiveBackground
				border-radius viewOptionsActiveRadius
				color viewOptionsActiveColor
				padding 0 6px
				font-weight 700

				&.cursief, &.vers, &.regel
					font-style italic
					font-weight normal
					text-decoration underline
					padding 0
					background-color transparent

#export-options
	ul
		float left

#folio-browser,
#text-browser
	background black
	color white
	padding 24px 20px 17px 20px
	margin-bottom 30px

	.horizontal-only
		height auto
		// min-height 200px

	.scroll-pane
		overflow-x auto
		overflow-y hidden
		outline none

	.jspTrack
		background transparent

		.jspDrag
			background-color transparent

	&:hover
		.jspTrack
			trackColor = #444
			background trackColor

			.jspDrag
				background-color lighten(trackColor, 20%)
				&:hover, &.jspActive
					background-color lighten(trackColor, 40%)

#folio-browser
	width "calc(100% - 48px)"
	position relative
	.folium-thumbnail
		position relative
		cursor pointer
		display inline-block
		white-space nowrap
		padding 2px 0px 4px 0px
		margin-right 1px
		text-align center
		no-select()
		img
			width 70px
			height 100px
			display block

		&.active
			background-color white
			color black
			padding 2px 2px 4px 2px

		.circle
			size = 26px
			width size
			height size
			line-height size
			border-radius size / 2
			text-align center
			background-color black
			color white
			position absolute
			top 50px - (size / 2) // thumbnails are 70x100
			z-index 5000

			&.r
				right -(size/2)

			&.v
				left -14px

		&.active .circle
			z-index 5001
			background-color white
			color black

	.horizontal-only
		height auto
		min-height 130px

	.close
		font-size 1em
		cursor pointer
		background-color #333
		width 20px
		height 20px
		border-radius 20px
		text-align center
		line-height 20px
		right 0

		&:hover
			background-color lighten(#333, 20%)

#text-browser
	display none // only on page load
	background-image linear-gradient(bottom, rgb(102,102,102) 0%, rgb(0,0,0) 76%)
	background-image -o-linear-gradient(bottom, rgb(102,102,102) 0%, rgb(0,0,0) 76%)
	background-image -moz-linear-gradient(bottom, rgb(102,102,102) 0%, rgb(0,0,0) 76%)
	background-image -webkit-linear-gradient(bottom, rgb(102,102,102) 0%, rgb(0,0,0) 76%)
	background-image -ms-linear-gradient(bottom, rgb(102,102,102) 0%, rgb(0,0,0) 76%)
	background-image -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(102,102,102)),
		color-stop(0.76, rgb(0,0,0))
	)

	ul
		font-size 12px
		line-height 22px
		white-space nowrap
		float left
		width 320px
		li
			cursor pointer
			width 90%
			overflow hidden
			white-space nowrap
			text-overflow ellipsis
			no-select()
			a	color white
			.noteright
				position static
				color white

			.superscript
				display none

			.capitalsize1
				display inline



	.inner
		width 4600px
		max-height 160px

	.close
		position absolute
		right 0px
		font-size 1em
		top 0px
		cursor pointer



#folium, #sidebar, #text
	display inline
	float left
	position relative


#folium
	width folioWidth
	margin-right foliumMargin
	img	width folioWidth height auto


#sidebar
	width sidebarWidth
	margin-left 20px

	.line
		margin-top 35px
		border-top 1px solid viewMenuActiveColor


	.belongs-to
		width 120px
		color defaultGray
		margin-bottom 65px


	.annotations
		span.noteright
			// position absolute
			formatAsAnnotation()

#text
	width mainWidth - folioWidth - foliumMargin - sidebarWidth - 20px
	.nav
		line-height 35px
		height 35px
		border-bottom 1px solid viewMenuActiveColor
		margin-bottom 20px
		text-align center

		.previous	float left
		.next	float right
		.next, .previous
			color bodyNavColor
			cursor pointer
			text-decoration none
			no-select()


		.folium
			font-weight 500
			font-size 18px

#main
	mainCenter()
	a
		color bodyNavColor

#text-view
	width textViewWidth
	margin auto

	.heading
		padding-left 172px // left margin
		text-align center
		span.tekst
			font-size 20px
			font-weight 500

		.previous
			float left

		.next
			float right


	.folium
		border-top 1px solid viewMenuColor
		margin-bottom 34px
		padding-top 20px
		position relative
		.left
			float left
			font-size 11px
			h5
				color defaultGray
				font-weight normal
				font-size 11px
				padding 0
				margin 0 0 20px

			img
				width 70px
				height auto
				margin-bottom 7px
				display block

			.select-folium
				display inline-block
				color bodyNavColor
				no-select()


		.right
			margin-left 173px
			font-size 18px
			text-align left


	.noteright
		left 500px



#container .folium .text, #text .text, .right.text
	span.rubric
		display inline
		color red


	.mentioned
		font-style italic
		font-size 14px
		line-height 16px


	.footnote
			display block
			float right
			width 45%
			position relative
			left -2em
			color grey

	.grey
			color grey

	.green
			color rreen

	.italic
		font-style italic

	.underline
		text-decoration underline

	.bold
		font-weight bold

	.border
			// borderthin solid green


	expan
		display none

	abbr

	choice




	span.del
		text-decoration line-through
		color blue


	p > spannot([class])
		formatAsAnnotation()


	span.del, span.add
		& > span.noteright
			formatAsAnnotation()


	span.noteright
		position absolute
		left 390px
		formatAsAnnotation()
		abbr	display inline font-size 14px

	span.ital
			font-styleitalic

	span.moveleft
		 position relative
			left50px

	span.restore
			borderthin solid purple

	span.romannumber
			font-variantsmall-caps

	span.noteleft
		position absolute

		padding 2px
		line-height 10px
		border-radius 10px
		font-size 10px
		left -20px
		margin-top 6px


	span.folionr
			position absolute
			left 300px

	span.margin
		width 100px
		position absolute
		left -120px

	span.transl
		display none
		position absolute
		left 450px

	span.wvk
		display none
		position absolute
		left 450px

	span.comment
		display none
		position absolute
		left 450px

	span.intro
		display none
		position absolute
		left 450px

	span.annotwg
		display none
		position absolute
		left 450px

	span.annotvm
		display none
		position absolute
		left 450px

	span.annotvdg
		display none
		position absolute
		left 450px

	span.annotbd
		display none
		position absolute
		left 450px

	span.hide
		display none


	.versenum, .linenum
		display block
		visibility hidden
		font-family sans-serif
		font-size 10px
		color defaultGray
		margin-left lineVerseNumPos
		float left

	.versenum	visibility hidden
	.textnum
		float right
		color defaultGray



.folium .right.text
	position relative


#container #text .text.nummering, #container .right.text.nummering
	&.vers .versenum
		visibility visible

	&.regel .linenum
		visibility visible



#text .solve, .right.text.solve
	expan
		display inline

	abbr
		font-style italic

	&.cursive
		ex	font-style italic

.jspContainer
	.jspHorizontalBar
		bgColor = #444
		background transparent
		size 8px
		height size

		.jspTrack
			background bgColor
			border-radius size

			.jspDrag
				background-color lighten(bgColor, 20%)
				border-radius size

				&:hover
					background-color lighten(bgColor, 40%)
